<!DOCTYPE html>
<html>
  <head>
    <title>Nana</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    
  </head>
  
  <body>
    <div class='main-container'>

