<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113453623-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      window.GA_TRACKING_ID = 'UA-113453623-1'
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', GA_TRACKING_ID, { 'app_name': 'nana_cupid_web' });
    </script>

    <title>Nana</title>

    <meta property="og:url" content="https://www.nanapx.com" />
    <meta property="og:title" content="Nanapx - Dating Profile Photography as a Service" />
    <meta property="og:description" content="Casual photography for your dating profile. Make yourself standout in Tinder, OkCupid, Match.com, Bumble, Coffee Meets Bagel" />
    <meta property="og:site_name" content="Nanapx" />
    <meta property="og:image" content="https://i.imgur.com/EVORt79.jpg" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@getnanapx" />
    <meta name="twitter:image" content="https://i.imgur.com/EVORt79.jpg">
    <meta name="twitter:title" content="Nanapx - Dating Profile Photography as a Service">
    <meta name="twitter:description" content="Casual photography for your dating profile. Make yourself standout in Tinder, OkCupid, Match.com, Bumble, Coffee Meets Bagel">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find a photographer for your dating profile. Improve your chance of success in Tinder, OkCupid, Match.com, Bumble, Coffee Meets Bagel">
    <meta name="keywords" content="tinder photographer, tinder photos, okcupid profile, online dating profile help, eharmony photos">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link rel="stylesheet" href="https://transloadit.edgly.net/releases/uppy/v0.24.2/dist/uppy.min.css">

    <link href="/<%= assetPath("style.css") %>" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYrWf7BTyyA_tV_GL7hPraRxtPeMdjLEw&libraries=places"></script>
    
    <script src="https://js.stripe.com/v3/"></script>
    <!-- <script src="https://sdk.accountkit.com/en_US/sdk.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" ></script>

    
    <script defer src="/<%= assetPath("vendor.js") %>"></script>
    <script defer src="/<%= assetPath("app.js") %>"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand brand_logo" href="/">NaNa</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <form action="/search" class="home_search_form" method="get" style="margin-right: 10px;">
                <input class="home_search" type="text" name="search" autocomplete="off" placeholder="Location: Enter City" value="" style="background-image: url('https://assets.bard.co/assets/search_glass-bd437aa7f38980799ef91264190b5846.png');">
              </form>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="become_photographer_btn" href="/signup">
                Become a Photographer
              </a>  
            </li>
            <li><a class='faq_btn' href="/faq">FAQ</a></li>
            <li><a class="signup_btn" href="/signup">Sign Up</a></li>
            <li><a class="login_btn" href="/signin">Login</a></li>
            <li class="home_user_menu dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Me <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="edit_profile_btn" href="#">Edit Profile</a></li>
                <li><a class="home_logout_btn" href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <div class='container-fluid react_root_container'>
      <!-- main content for react -->
      <div id="root">
      </div>
    </div>

    <!-- footer -->
    <div class="footer">
      <ul class="footer_container container">
        <li class="col-xs-12 col-sm-3">
          <ul class="footer_section">
            <li><a class="about_btn" href="/about">About</a></li>
            <li><a class="faq_btn" href="/faq">FAQ</a></li>
            <li><a class="privacy_btn" href="/privacy">Privacy Policy</a></li>
            <li><a href="mailto:info@nanapx.com">Contact</a></li>
          </ul>
        </li>
        <li class="col-xs-12 col-sm-3">
          <ul class="footer_section">
            <li><a href="https://www.facebook.com/getnanapx">Facebook</a></li>
            <li><a href="https://instagram.com/getnanapx">Instagram</a></li>
            <li><a href="https://medium.com/@getnanapx">Blog</a></li>
          </ul>
        </li>
        <div class="pull-right footer_brand_container">
          <div class="brand_logo">NaNa</div>
          <div class="company_inc">© Nana Labs Inc.</div>
        </div>
      </ul>  
    </div>
    
  </body>
</html>
