input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.main-container {
  
}

/* Home */

.home_search_form {
  padding-top: 10px;
}

.home_search {
  border: solid 1px #ccc;
  background-repeat: no-repeat;
  text-indent: 30px;
  background-position: 6px center;
  margin-right: 0px;
  height: 30px;
  color: #333;
  width: 250px;
}

.home_user_menu {
  display: none !important;
}

.home_user_menu[data-shown='true'] {
  display: block !important;
}

/* Photographer */

.photographer_container {
  border: solid 1px #aaa;
  padding: 20px;
  margin: 50px 0px;
}

.user_photo_gallery {
  padding: 0;
  list-style: none;
  display: inline-block;
}

.user_photo_gallery_item {
  width: 320px;
  height: 320px;
  float: left;
  margin: 10px;
}

.service_summary_container {
  list-style: none;
  padding-left: 0px;
  margin: 20px 0px;
}

.session_price {
  font-weight: bold;
  font-size: 20px;
}

.username {
  font-size: 30px;
  font-weight: bold;
}

.contact_photographer_btn {
  border: solid 1px #777;
  margin-left: 10px;
  color: #777;
}

.user_avatar {
  width: 150px;
}

.user_gallery_picker img {
  margin: 10px;
}

.photographer_card {
  display: inline-block;
}

.header_2 {
  font-weight: bold;
  font-size: 24px;
  display: block;
  margin: 10px 0px;
}

/* review */
.review_submit_form .reviewer_avatar {
  width: 150px;
  height: 150px;
}

.review_submit_form form {
  display: inline-block;
  width: 100%;
}

.review_submit_form textarea {
  resize: none;
}

.review_submit_form .rating_container {
  text-align: center;
}

.review_submit_form .review_description {
  height: 150px;
  font-size: 20px;
  margin: 20px 0px;
}

.review_container {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.review_container .reviewer_avatar {
  width: 75px;
  height: 75px;
  float: left;
  margin-right: 10px;
}

/* Booking */

.step_container {
  display: inline-block;
  width: 100%;
}

.step_container .step {
  float: left;
  margin-right: 50px;
  color: #ccc;
}

.step_container .step .step_icon {
  float: left;
  margin-right: 10px;
}

.step_container .step.current, 
.step_container .step.completed {
  color: black !important;
}

.step_container .step.completed:hover {
  cursor: pointer; 
  text-decoration: underline; 
}

.price_summary_container {
  border: solid 1px #ccc;
  padding: 20px;
  font-size: 18px;
}

.block {
  display: inline-block;
  width: 100%;
}

.price_total_row {
  font-size: 24px;
  font-weight: bold;
}

.vertical_spacing {
  display: block;
  height: 10px;
  margin-bottom: 10px;
}

.vertical_spacing.line {
  border-bottom: solid 1px #ccc; 
}

.proceed_payment_btn {
  width: 100%;
  margin: 10px 0px;  
}