input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.main-container {
  
}

/* Home */

.home_search_form {
  padding-top: 10px;
}

.home_search {
  border: solid 1px #ccc;
  background-repeat: no-repeat;
  text-indent: 30px;
  background-position: 6px center;
  margin-right: 0px;
  height: 30px;
  color: #333;
  width: 250px;
}

.home_user_menu {
  display: none !important;
}

.home_user_menu[data-shown='true'] {
  display: block !important;
}

/* Photographer */

.photographer_container {
  border: solid 1px #aaa;
  padding: 20px;
  margin: 50px 0px;
}

.user_photo_gallery_item {
  width: 300px;
  height: 200px;
}

.service_summary_container {
  list-style: none;
  padding-left: 0px;
}

